$color-titulo:#f3f3f3;
$color-titulo1:#32c14c;
$morado:#a200f9;
$blanco:#fff;
$morado-color:#aa00ff2d;
$rosa:#dc40a3;
$rosafondo:#ecb3dc;
$azul:#4321ee;
$negro:#000000;
//fuentes
$fuente-principal:Arial , Helvetica , sans-serif;

$color-facebook: #60f89f;
$color-linkedin: #6cb2d8;
$color-instagram: #c43597;
$color-youtube: #e05858;
$color-twitter: #969fa5;
$color-pinterest: #e28f47;

$firebrick:#B22222;
$greenyellow:#ADFF2F;
$deepskyblue:#00BFFF;
$blueviolet:#8A2BE2;

$f25:#D0655F;
$f75:#531A13;
$g25:#DDFC9E;
$g75:#8EC536;
$d25:#86D5FC;
$d75:#327095;
$b25:#B488E9;
$b75:#4D1B8E;